.btn {
  height: 24px;
  padding: 2px 20px;

  &-default {
    @include base-text($main-color);
    padding: 2px 20px;
    background-color: $disabled-color;
    border: 1px solid $main-color;
    border-radius: 5px;

    &:hover {
      background: #E1E1E1;
    }

    &:focus {
      background: #CFCFCF;
      outline: 0;
    }
  }

  &-primary {
    @include base-text($disabled-color);
    padding: 2px 20px;
    height: 24px;
    background-color: $primary-color;
    border: 1px solid $primary-color;
    border-radius: 5px;

    &:hover {
      background: #8A73FF;
      border: 1px solid #8A73FF;
    }

    &:focus {
      background: $primary-color;
      border: 1px solid $primary-color;
    }
  }

  &-success {
    @include base-text($disabled-color);
    padding: 2px 20px;
    height: 24px;
    background-color: #5EE48C;
    border: 1px solid #5EE48C;
    border-radius: 5px;

    &:hover {
      border: 1px solid #80F0A6;
      background-color: #80F0A6;
    }

    &:focus {
      border: 1px solid #4BD379;
      background: #4BD379;
      outline: 0;
    }
  }

  &-error {
    @include base-text($disabled-color);
    padding: 2px 20px;
    height: 24px;
    background-color: $error-color;
    border: 1px solid $error-color;
    border-radius: 5px;

    &:hover {
      border: 1px solid #FF8080;
      background-color: #FF8080;
    }

    &:focus {
      border: 1px solid #D65D5D;
      background: #D65D5D;
      outline: 0;
    }
  }

  &-disabled {
    @include base-text($label-color);
    height: 24px;
    background-color: $shadow;
    border: 1px solid $shadow;
    border-radius: 5px;

    &:focus {
      outline: 0;
    }
  }

  &-back,
  &-forward {
    padding: 2.5px 10px;
  }

  &-pagination {
    margin-right: 5px;
    padding: 2.5px 7.5px;
  }
}

.mr-left {
  margin-left: 10px;
}